<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="estadia">
            <h2><span>Estadia</span> {{ estadia.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Veiculo ID</span></dt>
                <dd>
                    <span>{{ estadia.veiculoID }}</span>
                </dd>
                <dt><span>Entrada</span></dt>
                <dd>
                    <span>{{ estadia.entrada }}</span>
                </dd>
                <dt><span>Saida</span></dt>
                <dd>
                    <span>{{ estadia.saida }}</span>
                </dd>
                <dt><span>Veiculo ID</span></dt>
                <dd>
                    <div *ngIf="estadia.veiculoID">
                        <a [routerLink]="['/veiculo', estadia.veiculoID?.id, 'view']">{{ estadia.veiculoID?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/estadia', estadia.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
