<div>
    <h2 id="page-heading">
        <span>Notas</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-nota" [routerLink]="['/nota/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Nota
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="notas?.length === 0">
        <span>No notas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="notas && notas.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Estadia ID</span></th>
                    <th scope="col" ><span>Valor Total</span></th>
                    <th scope="col" ><span>Estadia ID</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let nota of notas ;trackBy: trackId">
                    <td><a [routerLink]="['/nota', nota.id, 'view']">{{ nota.id }}</a></td>
                    <td>{{ nota.estadiaID }}</td>
                    <td>{{ nota.valorTotal }}</td>
                    <td>
                        <div *ngIf="nota.estadiaID">
                            <a [routerLink]="['/estadia', nota.estadiaID?.id, 'view']" >{{ nota.estadiaID?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/nota', nota.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/nota', nota.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(nota)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
