<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-nota-heading">Create or edit a Nota</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_estadiaID">Estadia ID</label>
                    <input type="number" class="form-control" name="estadiaID" id="field_estadiaID"
                           formControlName="estadiaID"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_valorTotal">Valor Total</label>
                    <input type="number" class="form-control" name="valorTotal" id="field_valorTotal"
                           formControlName="valorTotal"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_estadiaID">Estadia ID</label>
                    <select class="form-control" id="field_estadiaID" name="estadiaID" formControlName="estadiaID">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="estadiaOption.id === editForm.get('estadiaID')!.value?.id ? editForm.get('estadiaID')!.value : estadiaOption" *ngFor="let estadiaOption of estadiaids; trackBy: trackById">{{ estadiaOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
